@import '../../scss/settings/colors';

$border: 1px solid $color;

.Button {
    padding: 9px 20px 9px 20px;
    background-color: $background-button;
    border: none;
    box-sizing: content-box;
     
    &:disabled {
      color: gray;
    }

    &:not(:disabled):hover {
      border: $border;
    }

    &--bordered {
      border: $border;
      &:disabled {
        border:  1px solid gray;
      }
    }

    &--big {
      font-size: 24px;
    }
}