$backgraund-main: #F0F1F1;
$backgraund-thre-steps: #5E5322;
$backgraund-button-hover: #FAD648;
$backgraund-wazne: #FAD648;
$backgraund-four-steps: #737373;
$backgraund-o-nas: #737373;
$backgraund-form-login: #737373;
$background-button: white;
$color: #3c3c3c;