.Decoration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

    &-text {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.76px;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    &--big &-text {
        font-size: 38px;
        line-height: 40px;
    }
}
