@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@import "settings/_fonts";
@import "settings/_colors";

@import "~reset-css/sass/reset";

* {
    margin: 0;
    font-family: "$font-base";
    color: $color;
    
  }

.app {
  background-color: white;

  min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
} 

.logowanie {
  display: flex;
  justify-content: flex-end;
}



.home {
  max-width: 1900px;
	margin: 0px;
  
}



  
article {
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 0px 35px 0px 35px;
  
} 
article p {
  padding-top: 10px;
  margin-bottom: auto;
}
article h1 {
  font-weight: 300;
  font-size: 50px;
  padding-bottom: 30px;
}
article h3 {
  padding-bottom: 15px;
}
















