@import '../../../scss/settings/colors';

.HomeHeader {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: flex-end;

  .containerBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > .btn:not(:last-child) {
      margin-right: 12px;
    }
  }

  .containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 150px 200px;
  }
  
  .containerImage {
    position: absolute;
    top: 0;
    left: -200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: -1;

    .headerImage {
      justify-content: flex-start;
    }
  }
}
